.button {
  width: 50px;
  height: 36px;
  background-color: white;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #e6e6e6;
  }
}

.today {
  background-color: #ffff76;
}

.is-select {
  background-color: #006edc;

  &:hover {
    background-color: #006edc;
  }
}

.disable {
  color: #757575;

  &:hover {
    background-color: white;
  }
}
